# {{ ansible_managed }}
---
host: {{ openio_rawx_bind_address }}
port: {{ openio_rawx_bind_port }}
type: rawx
{% if openio_rawx_location | ipaddr %}
location: {{ openio_rawx_location | replace(".", "-") }}
{% else %}
{% if  openio_rawx_location_ending %}
{% if openio_rawx_location_ending == 'device_inode' %}
location: {{ openio_rawx_location }}.{{ openio_rawx_volume | device_inode }} 
{% elif openio_rawx_location_ending == 'mount_point' %}
location: {{ openio_rawx_location }}.{{ openio_rawx_volume.split('/')[-1] }} 
{% endif %}
{% else %}
location: {{ openio_rawx_location }}
{% endif %}
{% endif %}
checks:
  - {type: http, uri: /info}
stats:
  - {type: volume, path: {{ openio_rawx_volume }}}
  - {type: rawx, path: /stat}
  - {type: system}
...
