# {{ ansible_managed }}
# Namespace name
namespace: {{ openio_conscienceagent_namespace }}
# Run daemon as user
user: openio
#
# Logging configuration
log_level: info
log_facility: LOG_LOCAL0
log_address: /dev/log
syslog_prefix: OIO,{{ openio_conscienceagent_namespace }},conscienceagent,{{ openio_conscienceagent_serviceid }}
#
# Include path for services conf
# # example service is provided in service-watch.yml
include_dir: {{ openio_conscienceagent_sysconfig_dir }}/watch
#
#
# Global checks configuration
# Check interval (in seconds)
check_interval: 5
# Rise (number of consecutive successful checks to switch service status to up)
rise: 1
# Fall (number of consecutive unsuccessful checks to switch service status to down)
fall: 2
