# {{ ansible_managed }}
[blob-indexer]
namespace = {{ openio_blob_indexer_namespace }}
user = openio
volume = {{ openio_blob_indexer_volume }}
report_interval = {{ openio_blob_indexer_report_interval }}
chunks_per_second = {{ openio_blob_indexer_chunks_per_second }}
interval = {{ openio_blob_indexer_interval }}
log_level = info
log_facility = LOG_LOCAL0
log_address = /dev/log
syslog_prefix = OIO,{{ openio_blob_indexer_namespace }},oio-blob-indexer,{{ openio_blob_indexer_serviceid }}
