# {{ ansible_managed }}
[Unit]
Description={{ openio_blob_indexer_namespace }}-{{ openio_blob_indexer_servicename }}
After=network-online.target
Wants=network-online.target

[Service]
User=openio
Group=openio
ExecStart=/usr/bin/oio-blob-indexer /etc/oio/sds/{{ openio_blob_indexer_namespace }}/{{ openio_blob_indexer_servicename }}/{{ openio_blob_indexer_servicename }}.conf
Restart=always

[Install]
WantedBy=multi-user.target